<content>
    <!-- herobanner... -->

    <div class="section-hero">
        <div class="bg-section">
            <img src="../images/backgrounds/hero-bg-1.png" alt="Background Image"
                class="object-cover object-center w-full h-full" />

            <div class="banner-overlay"></div>
        </div>

        <div class="hero-content-section">
            <h1 class="hero-banner-heading">About Us</h1>
            <p class="hero-banner-content">Partex offers comprehensive solutions for marking machines,
                robotic stations, control cabinets and panels, and pneumatic components.
            </p>
        </div>
    </div>

    <!-- app-breadcrumb... -->
    {{ app-breadcrumb }}

    <!-- ********** Company Into section (starts here) ********** -->
    <div class="container-company-intro">
        <div class="main-image-box">
            <img src="../images/backgrounds/company-intro-img.png" alt="">
        </div>
        <div class="content-section">
            <div class="comapany-intro-box">
                <p class="heading">Who we are</p>
                <p class="description">We are Partex, a family-owned company with 75 years of experience in
                    industrial marking systems. Our world-leading solutions enhance safety and boost
                    productivity for electricians worldwide. Electrification is the future, and we're driving
                    progress. With care for our customers, each other, and generations to come, we're shaping a
                    safer and more sustainable electric future.</p>
            </div>

            <div class="comapany-intro-box">
                <p class="heading">Core values</p>
                <p class="description">Partex is a multigenerational Company with a rich tradition. From the
                    very beginning, the owners built the brand based on basic human values. For over 75 years,
                    countless Employees have found that good relationships, mutual trust, and reliable quality -
                    these are what give the Company and its people strength. We have particularly experienced
                    this in recent months. Words of support and encouragement from the owners and the Management
                    Board have allowed us to get through this difficult time in terms of security.Seeing the
                    importance and meaning of the words QUALITY, LONG-TERM, CLOSENESS - and their real impact on
                    our life and work - we wish to express them today in our own way, and promote them within
                    our Organisation, and also among our Trade Partners.</p>
            </div>
        </div>
    </div>
    <!-- ********** Company Into section (edns here) ********** -->
    <div class="container-product-flex">
    </div>
    
    <div class="container-product-flex container-inverse">
        <div class="product-flex-image-box">
            <img src="../images/solutions-pag-images/section-2-img.png" />
        </div>
        <div class="product-flex-content-box">

            <div class="product-content-inner">
                <h3 class="product-flex-title">Pneumatics</h3>
                <p class="product-description">Pneumatic technology has become so common that it is practically
                    used
                    in
                    every modern plant. Our range includes many options for marking pneumatic lines and
                    actuators.
                    We
                    manufacture flexible markers, to fit standard sizes of pneumatic pipes, and labels resistant
                    to
                    chemicals which are perfect for pneumatic actuators in wash down applications.</p>
            </div>

        </div>
    </div>

    <div class="container-product-flex">
        <div class="product-flex-image-box">
            <img src="../images/about-images/sophie_loof.jpg" />
        </div>
        <div class="product-flex-content-box">

            <div class="product-content-inner">
                <h3 class="product-flex-title">A word from the owner</h3>
                <p class="product-description">
                    Owning family-run companies brings me joy, pride and a sense of purpose. With our heart in Gullspång, Sweden, we want to be a global player that invests in new customers and markets. We strive to take a long-term approach and aim to hand down a healthy enterprise to the next generation.
                </p>

                <p class="product-description">
                    I want to be perceived as a responsible and committed owner who fosters the well-being and development of the Partex companies and personnel. High quality and professionalism permeates in everything we do.
                    
                </p>
                <p>
                    <span>--Partex owner Sophie Lööf</span>
                </p>
            </div>                
        </div>
    </div>

    
</content>
<script src="/js/about.js" type="text/javascript" ></script>
<link rel="stylesheet" href="/css/breadcrumb.css" type="text/css">
<link rel="stylesheet" href="/css/hero-banner.css" type="text/css">
<link rel="stylesheet" href="/css/product-flex.css" type="text/css">
<link rel="stylesheet" href="/css/about.css" type="text/css">