
<!-- Account Portal section -->
<content id="AccountPortal">
    <!-- app-breadcrumb... -->
    {{ app-breadcrumb }}

    <div class="container-account-portal">
        {{ app-sidebar-nav }}
        <div class="portal-orders-section">
            <h3>My Team’s Current Orders</h3>
            {{ app-orders-table }}

            <h3>Order History</h3>
            {{ app-orders-table }}
        </div>
    </div>
</content>
<link rel="stylesheet" href="./css/account-portal.css" type="text/css">
