<div class="quantity-box">
    <span class="label">Quantity</span>
    <div class="quantity-input-box">
        <input id="productQuantityControl" type="text" readonly="" value="1">
        <div class="quantity-adjust-control">
            <span id="btnQuantityDown" onclick="incrementProductQuantity()">
                <img src="../../images/arrow-up.png" alt="">
            </span>
            <span id="btnQuantityUp" onclick="decrementProductQuantity()">
                <img src="../../images/arrow-down-dark.png" alt="">
            </span>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../css/app-quantity-box.css" type="text/css">
