<div class="med-product-card">
    <div class="product-main-info-box">
        <img src="../images/product-images/product-image-5.png" alt="">
        <div class="product-title-box">
            <span class="product-title">Closed Profile Single Character</span>
            <span class="product-fav-icon">
                <img src="../images/star-icon-light.png" alt="">
            </span>
        </div>
    </div>
    {{ app-sm-product-btn }}
</div>
<link rel="stylesheet" href="../css/app-med-product-card.css" type="text/css">
