<div class="orders-table-container">
    <table>
        <thead>
            <tr>
                <th>ITEMS</th>
                <th>QTY</th>
                <th>COST</th>
                <th>DATE ORDERED</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="item-info-cell">
                    <span>
                        <img src="../../images/product-images/partex-marker-1.png" alt="">
                    </span>
                    <span>
                        MG - Ladder Style Heat Shrink, Military Grade
                    </span>
                </td>
                <td class="item-qty-cell">2</td>
                <td class="item-cost-cell">$649.20</td>
                <td class="date-cell">30.05.2024</td>
                <td class="item-status-cell">
                    <div class="order-status-opt-box">
                        <small class="order-status"><b>Status:</b> PENDING</small>
                        <span class="order-opts-btn">Track order</span>
                        <span class="order-opts-btn">Leave review</span>
                        <span class="order-opts-btn">Reorder</span>
                    </div>
                </td>
            </tr>
        </tbody>


    </table>
</div>
<link rel="stylesheet" href="./css/app-orders-table.css" type="text/css">