 <!-- ********** Section Featured products (starts here) ********** -->
<section id="FeaturedProducts">
    <div class="container-featured-products">
        <div class="section-heading">
            <h1 class="title">Featured products</h1>
        </div>

        <div class="featured-product-container">
            {{ app-lg-product-card }}
            {{ app-lg-product-card }}
            {{ app-lg-product-card }}
        </div>
    </div>
</section>
<link rel="stylesheet" href="../css/featured-products.css" type="text/css">
