 <!-- ********** Section Featured products (starts here) ********** -->
<section id="FeaturedProducts">
    <div class="container-featured-products">
        <div class="section-heading">
            <h1 class="title">Featured products</h1>
        </div>

        <div class="featured-product-container">
            <div class="featured-product-card">
                <div class="product-main-info-box">
                    <img src="../images/product-images/product-image-5.png" alt="">
                    <div class="product-title-box">
                        <span class="product-title">Closed Profile Single Character</span>
                        <span class="product-fav-icon">
                            <img src="../images/star-icon-light.png" alt="">
                        </span>
                    </div>
                </div>
                {{ app-sm-product-btn }}
            </div>

            <div class="featured-product-card">
                <div class="product-main-info-box">
                    <img src="../images/product-images/product-image-6.png" alt="">
                    <div class="product-title-box">
                        <span class="product-title">Oval Profile</span>
                        <span class="product-fav-icon">
                            <img src="../images/star-icon-light.png" alt="">
                        </span>
                    </div>
                </div>
                {{ app-sm-product-btn }}
            </div>

            <div class="featured-product-card">
                <div class="product-main-info-box">
                    <img src="../images/product-images/product-image-7.png" alt="">
                    <div class="product-title-box">
                        <span class="product-title">Steel Cable Ties</span>
                        <span class="product-fav-icon">
                            <img src="../images/star-icon-light.png" alt="">
                        </span>
                    </div>
                </div>
                {{ app-sm-product-btn }}
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="../css/featured-products.css" type="text/css">
