<footer>
    <div class="footer-content">
      <div class="col">
        <div class="logo bw"></div>
        <div class="address">
          <table>
            <tr><td>Address:</td><td>1155 North Main Street</td></tr>
            <tr><td></td><td>Lombard</td></tr>
            <tr><td></td><td>Illinois 60148,  USA</td></tr>
            <tr><td>Tel.:</td><td>+1 630 516 0400</td></tr>
            <tr><td>Fax:</td><td>+1 630 833 7631</td></tr>
            <tr><td>E-mail:</td><td><a href='mailto:sales@partexmarker.com'>sales@partexmarker.com</a></td></tr>
          </table>
        </div>
        <p class="copyright">&copy; 2024 My Website</p>
      </div>
      <div class="col">
        <div class="footer-menu">
          <ul class="nav">
            <li><a href="">markers</a></li>
            <li><a href="">accessories</a></li>
            <li><a href="">solutions</a></li>
            <li><a href="">design & mark</a></li>
            <li><a href="">about us</a></li>
            <li><a href="">we're hiring</a></li>
            <li><a href="">locations</a></li>
            <li><a href="">contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="newsletter-form">
          <h4>Sign up for our newsletter</h4>
          <div class="email">
            <input type="text" placeholder="Enter your email address"/>
            <button class="newsletter-btn">Subscribe</button>
          </div>
        </div>
      </div>
    </div><!-- /footer-content -->
    <div class="brand-box">We mark the future</div>
</footer>
<link rel="stylesheet" href="../css/footer.css" type="text/css">
