<div id="Hero" class="carousel-container" onmouseover="timer.pause()" onmouseleave="timer.resume()">
          <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="image-container">
                    <img src="../images/carousel-images/Hero_Slide 1.png" style="width:100%">
                </div>

                <div class="slide-content-container">
                    <div class="content-box">
                        <h1 class="slide-main-text">Marking Systems for every need.</h1>
                        <h3 class="slide-sub-text">Providing fast, global service near you.</p>
                    </div>

                    <div class="cta-btn-box">
                        {{ lg-standard-button }}
                    </div>

                </div>
            </div>

            <div class="mySlides fade">
                <div class="image-container">
                    <img src="../images/carousel-images/Hero_Slide 2.png" style="width:100%">
                </div>

                <div class="slide-content-container">
                    <div class="content-box">
                        <h1 class="slide-main-text text-light">Make your mark</h1>
                        <h3 class="slide-sub-text text-light">Customize markers with Mark Online</p>
                    </div>

                    <div class="cta-btn-box">
                        {{ lg-standard-button }}
                    </div>

                </div>
            </div>

            <div class="mySlides fade">
                <div class="image-container">
                    <img src="../images/carousel-images/Hero_Slide 3.png" style="width:100%">
                </div>

                <div class="slide-content-container">
                    <div class="content-box">
                        <h1 class="slide-main-text">Take charge</h1>
                        <h3 class="slide-sub-text">Our customer portal puts you in control</p>
                    </div>

                    <div class="cta-btn-box">
                        {{ lg-standard-button }}
                    </div>

                </div>
            </div>

            
            <div class="text">
                <!-- The dots/circles -->
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">
                <img src="../images/arrow-left.png" alt="">
            </a>
            <a class="next" onclick="plusSlides(1)">
                <img src="../images/arrow-right.png" alt="">
            </a>
        </div>
</div><!-- end carousel container -->
<link rel="stylesheet" href="../css/carousel.css" type="text/css">
<script src="../js/carousel.js" type="text/javascript"></script>