<div id="IconsMenu">
    <!-- Icons Component -->
     <div class="icon-group">
         <div class="profile icon">
         <a href="./account-portal">
            <img src='/images/profile-icon.png'/>
         </a>
         </div>
         <div class="globe icon">
            <a href="#">
               <img src='/images/globe-icon.png'/>
            </a>
         </div>
         {{ app-add-favorite }}
         <div class="cart icon">
            <a href="#">
               <img src='/images/cart-icon.png'/>
            </a>
         </div>
     </div>
     <div class="sm-brand-box"></div>
</div>
<script src="/js/iconsmenu.js" type="text/javascript" ></script>
<link rel="stylesheet" href="/css/iconsmenu.css" type="text/css">