<div id="IconsMenu">
    <!-- Icons Component -->
     <div class="icon-group">
        <div class="profile icon"><img src='/images/profile-icon.png'/></div>
        <div class="globe icon"><img src='/images/globe-icon.png'/></div>
        {{ app-add-favorite }}
        <div class="cart icon"><img src='/images/cart-icon.png'/></div>
     </div>
     <div class="sm-brand-box"></div>
</div>
<script src="/js/iconsmenu.js" type="text/javascript" ></script>
<link rel="stylesheet" href="/css/iconsmenu.css" type="text/css">