<div id="IconsMenu">
    <!-- Icons Component -->
     <div class="icon-group">
         <div class="profile icon">
         <a href="./account-portal">
            <span class="icon-user"></span>
         </a>
         </div>
         <div class="globe icon">
            <a href="#">
               <span class="icon-sphere"></span>
            </a>
         </div>
         {{ app-add-favorite }}
         <div class="cart icon">
            <a href="#">
               <span class="icon-cart"></span>
            </a>
         </div>
     </div>
     <div class="sm-brand-box"></div>
</div>
<script src="/js/iconsmenu.js" type="text/javascript" ></script>
<link rel="stylesheet" href="/css/iconsmenu.css" type="text/css">