<!-- Mark Online Promo Section -->
<section id="MarkOnline">
    <div class="container-mark-online">
        <div class="mark-online-inner">
            <div class="mark-section-imag-box">
                <img src="../images/backgrounds/mark-online-banner.png" alt="">
            </div>
            <div class="mark-section-content-box">
                <div class="content-box-inner">
                    <h2>Mark Online</h2>

                    <span class="section-description-box">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </span>
                    {{ app-learn-more-btn }}
                </div>

                <div class="marking-methods-box">
                    <span class="section-heading">
                        <p>Our Marking Methods </p>
                    </span>

                    <div class="methods-container">
                        <div class="method-box">
                            <span class="method-image">
                                <img src="../images/marking-methods-img/method-1.png" alt="">
                            </span>
                            <span class="method-label">Single Characters</span>
                        </div>

                        <div class="method-box">
                            <span class="method-image">
                                <img src="../images/marking-methods-img/method-2.png" alt="">
                            </span>
                            <span class="method-label">Multi Characters</span>
                        </div>

                        <div class="method-box">
                            <span class="method-image">
                                <img src="../images/marking-methods-img/method-3.png" alt="">
                            </span>
                            <span class="method-label">Do-It-Yourself</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
<link rel="stylesheet" href="../css/mark-online-promo-section.css" type="text/css">
