<div class="mobile-bottom-menu">
    <!-- mobile menu items at bottom of screen-->
     <div class="search-btn"><img src='/images/search-btn.png'/></div>
     <div class="menu-containers">
        <div class="col1">
            <div class="profile icon"><img src='/images/profile-icon.png'/></div>
        </div>
        <div class="col2">
            <div class="star icon"><img src='/images/star-icon.png'/></div>
            <div class="cart icon"><img src='/images/cart-icon.png'/></div>
        </div>
    </div>
</div>