<div class="product-details-container">
    <div class="product-heading-box">
        <span class="product-name">PO</span>
        <span class="product-postfix">Oval Profile</span>
        <span class="product-fav-icon">
            <img src="../../images/star-icon.png">
        </span>
    </div>

    <div class="product-main-description-box">
        <p class="description-text">Oval printable profile in a wide range of available sizes. Print the
            PO markers on a T1000, EOS, or MK10 printer. Markers slide onto wires, gripping the wire and
            preventing sliding and rotation.</p>
    </div>

    <div class="product-characteristics-box">
        <div class="box-header-row">
            <span class="tab-item" onclick="onClickTab(1)">Description</span>
            <span class="tab-item" onclick="onClickTab(2)">Properties</span>
            <span class="tab-item" onclick="onClickTab(3)">Downloads</span>
        </div>
        <div class="box-body">
            <div class="box-body-item" id="box-item-1">
                <p class="section-heading">Product Characteristics</p>
                <ul class="characteristics-list">
                    <li class="list-item">Quick installation</li>
                    <li class="list-item">It retains its original shape and grips the wire.</li>
                    <li class="list-item">Easy to print with PARTEX thermal transfer printers.</li>
                    <li class="list-item">PO-068 size can be applied directly to the POH or PKH holder
                        and
                        the holder fixed on the cable with cable ties.</li>
                    <li class="list-item">Flammability: UL94-V0</li>
                    <li class="list-item">Temp: -30C to 60C</li>
                    <li class="list-item">Compatible with T2000 printer</li>
                </ul>
            </div>
            <div class="box-body-item" id="box-item-2">
                <p class="section-heading">Product Installation</p>
                <ul class="characteristics-list">
                    <li class="list-item">Quick installation</li>
                    <li class="list-item">It retains its original shape and grips the wire.</li>
                    <li class="list-item">Easy to print with PARTEX thermal transfer printers.</li>
                </ul>
            </div>
            <div class="box-body-item" id="box-item-3">
                <p class="section-heading">Product Compatibility</p>
                <ul class="characteristics-list">
                    <li class="list-item">Quick installation</li>
                    and
                    the holder fixed on the cable with cable ties.
                    <li class="list-item">Flammability: UL94-V0</li>
                    <li class="list-item">Temp: -30C to 60C</li>
                    <li class="list-item">Compatible with T2000 printer</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="product-options-container">
        <div class="section-heading-box">
            <p class="title">Product Options</p>
        </div>
        <div class="select-box">
            <div class="options-container">
                <div class="option">
                    <input type="radio" class="radio" id="currentChannel" name="category" value="currentChannel">
                    <label for="currentchannel">
                        <div class="option-item-box">
                            <div class="item-name">PO-01</div>
                            <div class="item-dimensions-box">
                                <div class="dimension-item">
                                    <span class="dimension-label">Area:</span>
                                    <span class="dimension-measure">12 AWG/MCM</span>
                                </div>
                                <div class="dimension-item">
                                    <span class="dimension-label">Diameter:</span>
                                    <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                                </div>
                            </div>

                        </div>
                    </label>
                </div>
                <div class="option">
                    <input type="radio" class="radio" id="currentChannel" name="category" value="currentChannel">
                    <label for="currentchannel">
                        <div class="option-item-box">
                            <div class="item-name">PO-07</div>
                            <div class="item-dimensions-box">
                                <div class="dimension-item">
                                    <span class="dimension-label">Area:</span>
                                    <span class="dimension-measure">12 AWG/MCM</span>
                                </div>
                                <div class="dimension-item">
                                    <span class="dimension-label">Diameter:</span>
                                    <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                                </div>
                            </div>

                        </div>
                    </label>
                </div>
                <div class="option">
                    <input type="radio" class="radio" id="currentChannel" name="category" value="currentChannel">
                    <label for="currentchannel">
                        <div class="option-item-box">
                            <div class="item-name">PO-08</div>
                            <div class="item-dimensions-box">
                                <div class="dimension-item">
                                    <span class="dimension-label">Area:</span>
                                    <span class="dimension-measure">12 AWG/MCM</span>
                                </div>
                                <div class="dimension-item">
                                    <span class="dimension-label">Diameter:</span>
                                    <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                                </div>
                            </div>

                        </div>
                    </label>
                </div>
                <div class="option">
                    <input type="radio" class="radio" id="currentChannel" name="category" value="currentChannel">
                    <label for="currentchannel">
                        <div class="option-item-box">
                            <div class="item-name">PO-09</div>
                            <div class="item-dimensions-box">
                                <div class="dimension-item">
                                    <span class="dimension-label">Area:</span>
                                    <span class="dimension-measure">12 AWG/MCM</span>
                                </div>
                                <div class="dimension-item">
                                    <span class="dimension-label">Diameter:</span>
                                    <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                                </div>
                            </div>

                        </div>
                    </label>
                </div>
            </div>

            <div class="selector-wrapper">
                <span class="selected">
                    <div class="option-item-box">
                        <div class="item-name">PO-10</div>
                        <div class="item-dimensions-box">
                            <div class="dimension-item">
                                <span class="dimension-label">Area:</span>
                                <span class="dimension-measure">12 AWG/MCM</span>
                            </div>
                            <div class="dimension-item">
                                <span class="dimension-label">Diameter:</span>
                                <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                            </div>
                        </div>

                    </div>
                </span>

                <img class="arrow rotated" src="../../images/arrow-down.png" style="text-align: right" id="drp-arrow2" alt="">

                <!-- <svg class="arrow rotated" style="text-align: right" id="drp-arrow2" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="transition-all ml-auto rotate-180">
                    <path d="M7 14.5l5-5 5 5" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg> -->
            </div>
        </div>
    </div>

    <div class="product-color-options-container">
        <span class="color-options-label">Available Colors</span>
        <div class="color-options">
            <span class="color-item" data-color="#FFF500" value="#FFF500"></span>
            <span class="color-item" data-color="#FFFFFF" value="#FFFFFF"></span>
            <span class="color-item" data-color="#FE0000" value="#FE0000"></span>
            <span class="color-item" data-color="#751DE7" value="#751DE7"></span>
            <span class="color-item" data-color="#1D92E7" value="#1D92E7"></span>
            <span class="color-item" data-color="#000000" value="#000000"></span>
            <span class="color-item" data-color="#969696" value="#969696"></span>
        </div>
    </div>

    <div class="product-purchase-container">
        <div class="quantity-box">
            <span class="label">Quantity</span>
            <div class="quantity-input-box">
                <input id="productQuantityControl" type="text" readonly="" value="1">
                <div class="quantity-adjust-control">
                    <span id="btnQuantityDown" onclick="incrementProductQuantity()">
                        <img src="../../images/arrow-up.png" alt="">
                    </span>
                    <span id="btnQuantityUp" onclick="decrementProductQuantity()">
                        <img src="../../images/arrow-down-dark.png" alt="">
                    </span>
                </div>
            </div>
        </div>

        <div class="size-box">
            <span class="label">Size</span>
            <select name="" id="">
                <option value="">196.85 Ft. Reel</option>
                <option value="">200.22 Ft. Reel</option>
                <option value="">213.43 Ft. Reel</option>
                <option value="">245.55 Ft. Reel</option>
            </select>
        </div>
        <div class="price-box">
            <span class="label">Price</span>
            <span class="pricing"><sup>$</sup>159.32</span>
        </div>
        <div class="add-to-cart-box">
            <span class="wishlist-icon-box">
                <a href="#">
                    <img src="../../images/heart-icon.png" alt="">
                </a>
            </span>

            <button class="standard-btn" aria-label="" aria-valuetext="">
                <div class="sm-brand-box"></div>
                <div class="btn-label">Add to Cart</div>
            </button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../css/product-details.css" type="text/css">
