<!-- Top Product Line Up Grid Section -->
<section id="ProductLineUp">
    <div class="container-product-line-up">
        <div class="section-heading">
            <h1>Top product line-up</h1>
        </div>

        <div class="product-container">
            <div class="product-card">
                <img src="../images/product-line-up-images/product-image-1.png" alt="">
                <p class="product-title">Printers & Software</p>
            </div>

            <div class="product-card">
                <img src="../images/product-line-up-images/product-image-2.png" alt="">
                <p class="product-title">Cable Management</p>
            </div>

            <div class="product-card">
                <img src="../images/product-line-up-images/product-image-3.png" alt="">
                <p class="product-title">Tools</p>
            </div>

            <div class="product-card">
                <img src="../images/product-line-up-images/product-image-4.png" alt="">
                <p class="product-title">Steel Markers</p>
            </div>

            <div class="product-card">
                <img src="../images/product-line-up-images/product-image-5.png" alt="">
                <p class="product-title">Plates</p>
            </div>

            <div class="product-card">
                <img src="../images/product-line-up-images/product-image-6.png" alt="">
                <p class="product-title">Cable Markers</p>
            </div>

            <div class="product-card">
                <img src="../images/product-line-up-images/product-image-7.png" alt="">
                <p class="product-title">Wire Markers</p>
            </div>

            <div class="product-card">
                <img src="../images/product-line-up-images/product-image-8.png" alt="">
                <p class="product-title">Clip-On Markers</p>
            </div>

            <div class="product-card">
                <img src="../images/product-line-up-images/product-image-9.png" alt="">
                <p class="product-title">Cable Acccessories</p>
            </div>
        </div>

    </div>
</section>
<link rel="stylesheet" href="../css/product-line-up.css" type="text/css">