<div class="product-options-container">
    <div class="section-heading-box">
        <p class="title">Product Options</p>
    </div>
    <div class="select-box">
        <div class="options-container">
            <div class="option">
                <input type="radio" class="radio" id="currentChannel" name="category" value="currentChannel">
                <label for="currentchannel">
                    <div class="option-item-box">
                        <div class="item-name">PO-01</div>
                        <div class="item-dimensions-box">
                            <div class="dimension-item">
                                <span class="dimension-label">Area:</span>
                                <span class="dimension-measure">12 AWG/MCM</span>
                            </div>
                            <div class="dimension-item">
                                <span class="dimension-label">Diameter:</span>
                                <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                            </div>
                        </div>

                    </div>
                </label>
            </div>
            <div class="option">
                <input type="radio" class="radio" id="currentChannel" name="category" value="currentChannel">
                <label for="currentchannel">
                    <div class="option-item-box">
                        <div class="item-name">PO-07</div>
                        <div class="item-dimensions-box">
                            <div class="dimension-item">
                                <span class="dimension-label">Area:</span>
                                <span class="dimension-measure">12 AWG/MCM</span>
                            </div>
                            <div class="dimension-item">
                                <span class="dimension-label">Diameter:</span>
                                <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                            </div>
                        </div>

                    </div>
                </label>
            </div>
            <div class="option">
                <input type="radio" class="radio" id="currentChannel" name="category" value="currentChannel">
                <label for="currentchannel">
                    <div class="option-item-box">
                        <div class="item-name">PO-08</div>
                        <div class="item-dimensions-box">
                            <div class="dimension-item">
                                <span class="dimension-label">Area:</span>
                                <span class="dimension-measure">12 AWG/MCM</span>
                            </div>
                            <div class="dimension-item">
                                <span class="dimension-label">Diameter:</span>
                                <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                            </div>
                        </div>

                    </div>
                </label>
            </div>
            <div class="option">
                <input type="radio" class="radio" id="currentChannel" name="category" value="currentChannel">
                <label for="currentchannel">
                    <div class="option-item-box">
                        <div class="item-name">PO-09</div>
                        <div class="item-dimensions-box">
                            <div class="dimension-item">
                                <span class="dimension-label">Area:</span>
                                <span class="dimension-measure">12 AWG/MCM</span>
                            </div>
                            <div class="dimension-item">
                                <span class="dimension-label">Diameter:</span>
                                <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                            </div>
                        </div>

                    </div>
                </label>
            </div>
        </div>

        <div class="selector-wrapper">
            <span class="selected">
                <div class="option-item-box">
                    <div class="item-name">PO-10</div>
                    <div class="item-dimensions-box">
                        <div class="dimension-item">
                            <span class="dimension-label">Area:</span>
                            <span class="dimension-measure">12 AWG/MCM</span>
                        </div>
                        <div class="dimension-item">
                            <span class="dimension-label">Diameter:</span>
                            <span class="dimension-measure">from 0.051 in to 0.071 in</span>
                        </div>
                    </div>

                </div>
            </span>

            <img class="arrow rotated" src="../images/arrow-down.png" style="text-align: right" id="drp-arrow2" alt="">
        </div>
    </div>
</div>
<link rel="stylesheet" href="../css/product-details-options-dropdown.css" type="text/css">
<link rel="stylesheet" href="../css/custom-dropdown.css" type="text/css">
