<content id="Product">
    {{ product-content }}
</content>
<link rel="stylesheet" href="/css/product.css" type="text/css">
<link rel="stylesheet" href="../css/hero-banner.css" type="text/css">
<link rel="stylesheet" href="../css/product-card.css" type="text/css">
<link rel="stylesheet" href="../css/breadcrumb.css" type="text/css">
<link rel="stylesheet" href="../css/shop-content.css" type="text/css">
<link rel="stylesheet" href="../css/product-card.css" type="text/css">
<link rel="stylesheet" href="../css/pagination.css" type="text/css">
<script src="../js/product.js" type="text/javascript" ></script>
<script src="../js/product-gallery.js" type="text/javascript"></script>
<script src="../js/custom-dropdown.js" type="text/javascript"></script>