<div class="product-characteristics-box">
    <div class="box-header-row">
        <span class="tab-item" onclick="onClickTab(1)">Description</span>
        <span class="tab-item" onclick="onClickTab(2)">Properties</span>
        <span class="tab-item" onclick="onClickTab(3)">Downloads</span>
    </div>
    <div class="box-body">
        <div class="box-body-item" id="box-item-1">
            <p class="section-heading">Product Characteristics</p>
            <ul class="characteristics-list">
                <li class="list-item">Quick installation</li>
                <li class="list-item">It retains its original shape and grips the wire.</li>
                <li class="list-item">Easy to print with PARTEX thermal transfer printers.</li>
                <li class="list-item">PO-068 size can be applied directly to the POH or PKH holder
                    and
                    the holder fixed on the cable with cable ties.</li>
                <li class="list-item">Flammability: UL94-V0</li>
                <li class="list-item">Temp: -30C to 60C</li>
                <li class="list-item">Compatible with T2000 printer</li>
            </ul>
        </div>
        <div class="box-body-item" id="box-item-2">
            <p class="section-heading">Product Installation</p>
            <ul class="characteristics-list">
                <li class="list-item">Quick installation</li>
                <li class="list-item">It retains its original shape and grips the wire.</li>
                <li class="list-item">Easy to print with PARTEX thermal transfer printers.</li>
            </ul>
        </div>
        <div class="box-body-item" id="box-item-3">
            <p class="section-heading">Product Compatibility</p>
            <ul class="characteristics-list">
                <li class="list-item">Quick installation</li>
                and
                the holder fixed on the cable with cable ties.
                <li class="list-item">Flammability: UL94-V0</li>
                <li class="list-item">Temp: -30C to 60C</li>
                <li class="list-item">Compatible with T2000 printer</li>
            </ul>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../css/product-details-tabs.css" type="text/css">
