<!-- Product Page Image Carousel -->
<div class="product-carousel-container">
    <div class="preview-img-container" id="productPreviewBox">
        <img src="../images/product-images/product-item-4.png" alt="">

        <div class="other-product-options-box">
            <span class="backward-icon-box" id="galleryBackwardIcon">
                <img src="../images/forward-icon.png" alt="">
            </span>
            <div class="thumbnails-container" id="container-thumbnails">
                <div class="product-item"> <img src="../images/product-images/partex-marker-1.png" alt="">
                </div>
                <div class="product-item"> <img src="../images/product-images/product-item-2.png" alt="">
                </div>
                <div class="product-item"> <img src="../images/product-images/product-item-3.png" alt="">
                </div>
                <div class="product-item"> <img src="../images/product-images/product-item-4.png" alt="">
                </div>

                <div class="product-item"> <img src="../images/product-images/product-item-2.png" alt="">
                </div>
                <div class="product-item"> <img src="../images/product-images/product-item-3.png" alt="">
                </div>
                <div class="product-item"> <img src="../images/product-images/product-item-4.png" alt="">
                </div>
            </div>

            <span class="forward-icon-box" id="galleryForwardIcon">
                <img src="../images/forward-icon.png" alt="">
            </span>
        </div>

        <div class="dot-navigation-container">
        </div>

    </div>
</div>
<link rel="stylesheet" href="../css/product-carousel.css" type="text/css">
