<div class="product-color-options-container">
    <span class="color-options-label">Available Colors</span>
    <div class="color-options">
        <span class="color-item" data-color="#FFF500" value="#FFF500"></span>
        <span class="color-item" data-color="#FFFFFF" value="#FFFFFF"></span>
        <span class="color-item" data-color="#FE0000" value="#FE0000"></span>
        <span class="color-item" data-color="#751DE7" value="#751DE7"></span>
        <span class="color-item" data-color="#1D92E7" value="#1D92E7"></span>
        <span class="color-item" data-color="#000000" value="#000000"></span>
        <span class="color-item" data-color="#969696" value="#969696"></span>
    </div>
</div>
<link rel="stylesheet" href="../css/product-details-available-colors.css" type="text/css">
