<div class="product-details-container">
    <div class="product-heading-box">
        <span class="product-name">PO</span>
        <span class="product-postfix">Oval Profile</span>
        <span class="product-fav-icon">
            <img src="../../images/star-icon.png">
        </span>
    </div>

    <div class="product-main-description-box">
        <p class="description-text">Oval printable profile in a wide range of available sizes. Print the
            PO markers on a T1000, EOS, or MK10 printer. Markers slide onto wires, gripping the wire and
            preventing sliding and rotation.</p>
    </div>

    {{ product-details-tabs }}
    {{ product-details-options-dropdown }}
    {{ product-details-available-colors }}

    <div class="product-purchase-container">
        <div class="quantity-box">
            <span class="label">Quantity</span>
            <div class="quantity-input-box">
                <input id="productQuantityControl" type="text" readonly="" value="1">
                <div class="quantity-adjust-control">
                    <span id="btnQuantityDown" onclick="incrementProductQuantity()">
                        <img src="../../images/arrow-up.png" alt="">
                    </span>
                    <span id="btnQuantityUp" onclick="decrementProductQuantity()">
                        <img src="../../images/arrow-down-dark.png" alt="">
                    </span>
                </div>
            </div>
        </div>

        <div class="size-box">
            <span class="label">Size</span>
            <select name="" id="">
                <option value="">196.85 Ft. Reel</option>
                <option value="">200.22 Ft. Reel</option>
                <option value="">213.43 Ft. Reel</option>
                <option value="">245.55 Ft. Reel</option>
            </select>
        </div>
        <div class="price-box">
            <span class="label">Price</span>
            <span class="pricing"><sup>$</sup>159.32</span>
        </div>
        <div class="add-to-cart-box">
            <span class="wishlist-icon-box">
                <a href="#">
                    <img src="../../images/heart-icon.png" alt="">
                </a>
            </span>

            <button class="standard-btn" aria-label="" aria-valuetext="">
                <div class="sm-brand-box"></div>
                <div class="btn-label">Add to Cart</div>
            </button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../css/product-details.css" type="text/css">
