<div class="promo-slider">
    {{ promo-slide }}
</div>
<link rel="stylesheet" href="../css/promo-slider.css" type="text/css">
<!--
// Closed Profile Single Character Markers
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// MOST POPULAR ITEMS
color: black;
 font-size: 17px;
 font-family: Inter;
 font-weight: 800;
 word-wrap: break-word
---
// VIEW
color: #D9D9D9;
 font-size: 12px;
 font-family: Inter;
 font-weight: 800;
 letter-spacing: 1.80px;
 word-wrap: break-word
---
// Marker sleeve for cables
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// MOST POPULAR ITEMS
color: black;
 font-size: 17px;
 font-family: Inter;
 font-weight: 800;
 word-wrap: break-word
---
// VIEW
color: #D9D9D9;
 font-size: 12px;
 font-family: Inter;
 font-weight: 800;
 letter-spacing: 1.80px;
 word-wrap: break-word
---
// MK10 Thermal Transfer Printer
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// MOST POPULAR ITEMS
color: black;
 font-size: 17px;
 font-family: Inter;
 font-weight: 800;
 word-wrap: break-word
---
// VIEW
color: #D9D9D9;
 font-size: 12px;
 font-family: Inter;
 font-weight: 800;
 letter-spacing: 1.80px;
 word-wrap: break-word
-->