<!-- ********** Section quick links (starts here) ********** -->
<div class="quick-links-container">
    <button class="btn btn-quick-item" aria-label="" aria-valuetext="">
        <div class="img-text-box">
            <img src="../images/product-images/cable-and-wire-img.png" alt="">
            <div class="btn-label">
                <span class="label-main-text"> Cable & Wire Markers</span>
                <span class="lable-sub-text">Shop online for fast service.</span>
            </div>
        </div>
        <span class="arrow-box"><img src="../images/arrow-right.png" alt=""></span>
    </button>

    <button class="btn btn-quick-item" aria-label="" aria-valuetext="">
        <div class="img-text-box">
            <img src="../images/product-images/marking-accessory-img.png" alt="">
            <div class="btn-label">
                <span class="label-main-text"> Marking Accessories</span>
                <span class="lable-sub-text">Everything for wire & cable management.</span>
            </div>
        </div>
        <span class="arrow-box"><img src="../images/arrow-right.png" alt=""></span>
    </button>
</div>
<link rel="stylesheet" href="../css/quick-links.css" type="text/css">
