<div class="section-hero">
    <div class="bg-section">
        <img id="HeroImage" src="../images//backgrounds/cable-wire-page-bg.png" alt="Background Image"
            class="object-cover object-center w-full h-full" />

        <div class="banner-overlay"></div>
    </div>

    <div class="hero-content-section">
        <h1 id="HeroTitle" class="hero-banner-heading text-light">Shop all products</h1>
        <h3 id="HeroSubtitle" class="hero-banner-content text-light">View by category & application
        </h3>
    </div>
</div>
<link rel="stylesheet" href="../css/secondary-page-hero.css" type="text/css">
