<div class="section-hero">
    <div class="bg-section">
        <img src="../images//backgrounds/cable-wire-page-bg.png" alt="Background Image"
            class="object-cover object-center w-full h-full" />

        <div class="banner-overlay"></div>
    </div>

    <div class="hero-content-section">
        <h1 class="hero-banner-heading text-dark">All cable & wire markers</h1>
        <p class="hero-banner-content text-dark">Shop by category & application
        </p>
    </div>
</div>