<!-- Solutions content section -->
<content id="Solutions">
   <!-- herobanner... -->
{{ secondary-page-hero }}

<!-- app-breadcrumb... -->
{{ app-breadcrumb }}

    <!-- prodcut flex... -->

    <div class="container-product-flex">
        <div class="product-flex-image-box">
            <img src="../../images/solutions-pag-images/section-1-img.png" />
        </div>
        <div class="product-flex-content-box">

            <div class="product-content-inner">
                <h3 class="product-flex-title">Control Cabinets and Panels</h3>
                <p class="product-description">Due to the large quantities of wires, connectors, controllers and
                    other
                    components in a control cabinet,
                    efficient identification it is necessary to mark the components.</p>

                <p class="product-description">Partex solutions enable marking of control wires and cables,
                    connectors,
                    controllers and components. Engraved
                    plates and self-adhesive labels are used to label push buttons and indicating lights.</p>
            </div>


            <div class="product-card-container">
                {{ app-sm-product-card }}
                {{ app-sm-product-card }}
                {{ app-sm-product-card }}
            </div>
        </div>
    </div>


    <div class="container-product-flex container-inverse">
        <div class="product-flex-image-box">
            <img src="../../images/solutions-pag-images/section-2-img.png" />
        </div>
        <div class="product-flex-content-box">

            <div class="product-content-inner">
                <h3 class="product-flex-title">Pneumatics</h3>
                <p class="product-description">Pneumatic technology has become so common that it is practically
                    used
                    in
                    every modern plant. Our range includes many options for marking pneumatic lines and
                    actuators.
                    We
                    manufacture flexible markers, to fit standard sizes of pneumatic pipes, and labels resistant
                    to
                    chemicals which are perfect for pneumatic actuators in wash down applications.</p>
            </div>


            <div class="product-card-container">
                {{ app-sm-product-card }}
                {{ app-sm-product-card }}
                {{ app-sm-product-card }}
            </div>
        </div>
    </div>


    <div class="container-product-flex">
        <div class="product-flex-image-box">
            <img src="../../images/solutions-pag-images/section-3-img.png" />
        </div>
        <div class="product-flex-content-box">

        <div class="product-content-inner">
            <h3 class="product-flex-title">Machines and Robotic Stations</h3>
            <p class="product-description">Partex is frequently used by machine builders and contractors
                because
                the
                wide range of products enables them to clearly mark components with an appropriate solution.
                With
                our products you can: mark facility cables and cables inside machines, fix cables and pipes
                securely, secure cables, hoses and harnesses, mark machines with information and warning
                boards,
                and
                use products detectable by metal detectors.</p>
        </div>


        <div class="product-card-container">
            {{ app-sm-product-card }}
            {{ app-sm-product-card }}
            {{ app-sm-product-card }}
        </div>
    </div>
    </div>
</content>
<link rel="stylesheet" href="./css/product-flex.css" type="text/css">
<link rel="stylesheet" href="../css/hero-banner.css" type="text/css">
<script type="text/javascript" src="../js/solutions.js"></script>