
<!-- herobanner... -->

<div class="section-hero">
<div class="bg-section">
    <img src="../images/backgrounds/hero-bg-1.png" alt="Background Image"
        class="object-cover object-center w-full h-full" />

    <div class="banner-overlay"></div>
</div>

<div class="hero-content-section">
    <h1 class="hero-banner-heading">Industrial automation solutions</h1>
    <p class="hero-banner-content">Partex offers comprehensive solutions for marking machines,
        robotic stations, control cabinets and panels, and pneumatic components.
    </p>
</div>
</div>

<!-- app-breadcrumb... -->
<div class="app-breadcrumb-container">
<div class="breadcrumb">
    <span class="breadcrumb-item"><img class="breadcrumb-icon" src="../images/home-icon.png" /></span>
    <span class="breadcrumb-item"><small class="active">Makers</small></span>
    <span class="breadcrumb-item"><small class="active">Industrial Automation</small></span>
</div>
</div>

<!-- prodcut flex... -->

<div class="container-product-flex">
<div class="product-flex-image-box">
    <img src="../images/solutions-pag-images/section-1-img.png" />
</div>
<div class="product-flex-content-box">

    <div class="product-content-inner">
        <h3 class="product-flex-title">Control Cabinets and Panels</h3>
        <p class="product-description">Due to the large quantities of wires, connectors, controllers and
            other
            components in a control cabinet,
            efficient identification it is necessary to mark the components.</p>

        <p class="product-description">Partex solutions enable marking of control wires and cables,
            connectors,
            controllers and components. Engraved
            plates and self-adhesive labels are used to label push buttons and indicating lights.</p>
    </div>


    <div class="product-card-container">
        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>

        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>

        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>
    </div>
</div>
</div>


<div class="container-product-flex container-inverse">
<div class="product-flex-image-box">
    <img src="../images/solutions-pag-images/section-2-img.png" />
</div>
<div class="product-flex-content-box">

    <div class="product-content-inner">
        <h3 class="product-flex-title">Pneumatics</h3>
        <p class="product-description">Pneumatic technology has become so common that it is practically
            used
            in
            every modern plant. Our range includes many options for marking pneumatic lines and
            actuators.
            We
            manufacture flexible markers, to fit standard sizes of pneumatic pipes, and labels resistant
            to
            chemicals which are perfect for pneumatic actuators in wash down applications.</p>
    </div>


    <div class="product-card-container">


        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>


        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>
    </div>
</div>
</div>


<div class="container-product-flex">
<div class="product-flex-image-box">
    <img src="../images/solutions-pag-images/section-3-img.png" />
</div>
<div class="product-flex-content-box">

    <div class="product-content-inner">
        <h3 class="product-flex-title">Machines and Robotic Stations</h3>
        <p class="product-description">Partex is frequently used by machine builders and contractors
            because
            the
            wide range of products enables them to clearly mark components with an appropriate solution.
            With
            our products you can: mark facility cables and cables inside machines, fix cables and pipes
            securely, secure cables, hoses and harnesses, mark machines with information and warning
            boards,
            and
            use products detectable by metal detectors.</p>
    </div>


    <div class="product-card-container">
        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>

        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>

        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>

        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>

        <div class="product-card-box">
            <div class="product-main-info-box">
                <img src="../images/product-images/partex-marker-1.png" alt="">
                <div class="product-title-box">
                    <span class="product-title">Product Name</span>
                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                </div>
            </div>

            <div class="view-product-box"><span>View Product</span></div>
        </div>
    </div>
</div>
</div>