
<!-- ********** Top Solutions (starts here) ********** -->
<div class="container-top-solutions">
    <div class="section-heading">
        <p>Top solutions for industry</p>

    </div>
    <div class="top-solutions-inner">
        <div class="solution-item">
            <span class="imgae-box">
                <img src="../images/Factory.png" alt="">
            </span>
            <span class="label-box">Industrial & Manufacturing</span>
        </div>

        <div class="solution-item">
            <span class="imgae-box">
                <img src="../images/Transmission-Tower.png" alt="">
            </span>
            <span class="label-box">Power Generation</span>
        </div>

        <div class="solution-item">
            <span class="imgae-box">
                <img src="../images/machine.png" alt="">
            </span>
            <span class="label-box">Automation</span>
        </div>

        <div class="solution-item">
            <span class="imgae-box">
                <img src="../images/Tram.png" alt="">
            </span>
            <span class="label-box">Transportation</span>
        </div>

        <div class="solution-item">
            <span class="imgae-box">
                <img src="../images/Networking Manager.png" alt="">
            </span>
            <span class="label-box">Telecommunications & I.T.</span>
        </div>

        <div class="solution-item">
            <span class="imgae-box">
                <img src="../images/Data-Protection.png" alt="">
            </span>
            <span class="label-box">Cataloguing & Securing</span>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../css/solutions-section.css" type="text/css">
