
<!-- ********** Company Into section (starts here) ********** -->
<div class="container-company-intro">
    <div class="main-image-box">
        <img src="../../images/backgrounds/company-intro-img.png" alt="">
    </div>
    <div class="content-section">
        <div class="comapany-intro-box">
            <p class="heading">Who we are</p>
            <p class="description">We are Partex, a family-owned company with 75 years of experience in
                industrial marking systems. Our world-leading solutions enhance safety and boost
                productivity for electricians worldwide. Electrification is the future, and we're driving
                progress. With care for our customers, each other, and generations to come, we're shaping a
                safer and more sustainable electric future.</p>
        </div>

        <div class="comapany-intro-box">
            <p class="heading">Core values</p>
            <p class="description">Partex is a multigenerational Company with a rich tradition. From the
                very beginning, the owners built the brand based on basic human values. For over 75 years,
                countless Employees have found that good relationships, mutual trust, and reliable quality -
                these are what give the Company and its people strength. We have particularly experienced
                this in recent months. Words of support and encouragement from the owners and the Management
                Board have allowed us to get through this difficult time in terms of security.Seeing the
                importance and meaning of the words QUALITY, LONG-TERM, CLOSENESS - and their real impact on
                our life and work - we wish to express them today in our own way, and promote them within
                our Organisation, and also among our Trade Partners.</p>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../css/who-we-are-section.css" type="text/css">
