.view-product-box,
.product-card .view-product-box {
    background-color: var(--graphite);
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}
.view-product-box:hover,
.product-card .view-product-box:hover {
    background-color: var(--partex-black);
    animation: var(--yellowFade);
}

.view-product-box span,
.product-card .view-product-box span {
    text-align: center;
    font-size: var(--base-size-med);
    font-weight: var(--regular);
    color: #fff;
    margin: calc(var(--unit) / 2) 0;
    line-height: 1;
    display: block;
}
/* CSS HACK TO ADD LABEL TO BUTTON */
.view-product-box span::after,
.product-card .view-product-box span::after {
    content: "View Product"
}