/* small product cards */
.sm-product-card-box {
  display: flex;
  flex-direction: column;
}

.sm-product-card-box>.product-main-info-box {
  text-align: center;
  background-color: #F8F5F0;
  padding: 0.875rem;
}

.sm-product-card-box>.product-main-info-box>.product-title-box {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0rem 0rem 0rem;
}

.sm-product-card-box>.product-main-info-box>.product-title-box>.product-fav-icon-box>img {
  width: 1.25rem;
  height: 1.25rem;
}

.sm-product-card-box>.product-main-info-box>.product-title-box>.product-title {
  font-size: var(--base-size-reg);
  font-weight: var(--bold);
  flex-grow: 1;
  text-align: center;
}

.sm-product-card-box>.view-product-box {
  background-color: var(--partex-black);
  text-align: center;
  cursor: pointer;
}

.sm-product-card-box>.view-product-box>span {
  font-weight: 100;
  font-size: var(--base-size-sm);
  color: #fff;
  padding: 0.5rem 0rem;
  display: block;
}