/* Styles for Search Bar Component */
#Search * {
    transition: var(--fade);
}
#Search {
    position: relative;
    top: 4px;
    height: var(--unit);
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 0 auto;
}

#Search.focused {
    position: absolute;
    width: 100%;
    border: 1px solid var(--gray);
    background-color: white;
}

#Search .search-btn {
    background: var(--graphite);
    background-size: contain;
    width: var(--unit);
    height: var(--unit);
    border-radius: var(--unit);
    padding: 5px;
}

#Search .search-btn:hover {
    transform: scale(1.2);
    background-color: var(--partex-yellow);
    cursor:pointer;
}

#Search .search-input > input {
    border: none;
    background-color: transparent;
    height: 100%;
    max-width: 350px;
    border-radius: 0;
    font-size: var(--base-size-sm);
    width: 0px;
    display: none;
}

#Search .search-input > input::placeholder {
    color: var(--gray);
    font-weight: var(--light);
}

#Search span.icon-search {
    color: white;
}

#Search .search-btn:hover span.icon-search {
    color: var(--partex-black);
}

@media screen and (min-width: 2400px) {
    #Search .search-input > input {
        font-size: var(--base-size-reg);
    }
}