/* Slideshow container */
.carousel-container .slideshow-container {
    /* max-width: 80vw; */
    position: relative;
    margin: 0rem auto 2.5rem auto;
}

/* Hide the images by default */
.carousel-container .mySlides {
    display: none;
}

/* Next & previous buttons */
.carousel-container .prev,
.carousel-container .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    /* transition: 0.6s ease; */
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
}

/* Position the "next button" to the right */
.carousel-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.carousel-container .prev:hover,
.carousel-container .next:hover {
    /* background-color: rgba(0, 0, 0, 0.8); */
    border: 1px solid #252525;
}


.slide-content-container {
    position: relative;
    position: absolute;
    bottom: 35%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.slide-content-container>.content-box>.slide-main-text {
    color: var(--partex-black);
    margin: unset;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

.slide-content-container>.content-box>.slide-sub-text {
    color: var(--partex-black);
    margin: unset;
    font-size: 2rem;
    font-weight: var(--light);
}


.slide-content-container .content-box .text-light {
    color: #fff;
}



/* Caption text */
.carousel-container .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.carousel-container .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.carousel-container .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    border: inset;
    border: 3px solid;
    display: inline-block;
    transition: background-color 0.6s ease;
    color: var(--light-gray);
}

.carousel-container .active,
.carousel-container .dot:hover {
    background-color: var(--light-gray);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}



.carousel-container .prev {
    left: -3.875rem;
    width: 1.2rem;
    height: auto;
}

.carousel-container .next {
    right: -3.875rem;
    width: 1.2rem;
    height: auto;
}

.carousel-container .prev>img,
.carousel-container .next>img {
    width: 100%;
    height: auto;
}

/* CSS HACK TO REPLACE BUTTON TEXT CONTENT */
.slide-1 .lg-standard-btn .btn-label span::after { content: "Cable & Wire Markers"; }
.slide-2 .lg-standard-btn .btn-label span::after { content: "Visit Mark Online"; }
.slide-3 .lg-standard-btn .btn-label span::after { content: "Sign Up Today"; }

/* MOBILE STYLES */
@media screen and (max-width: 1024px) {
    div#Hero {
        height: 30vh;
    }
    .carousel-container .slideshow-container {
        height: inherit;
    }
    .carousel-container .mySlides {
        overflow: hidden;
        height: inherit;
    }
    .carousel-container .mySlides .image-container {
        width: 106vh;
        left: -34%;
        position: relative;
    }
    .carousel-container .mySlides .image-container > img {
        object-fit: cover;
    }
}/* end 1024px */
@media screen and (max-width: 768px) {
    .slide-content-container {
        bottom: 21%;
    }
    .content-box h1,
    .content-box h3 {
        color: white !important;
        text-shadow: var(--shadow);
    }
}/* end 768px */

