/* checkbox-options-item-box.css */

.container-flex>.section-checkboxes>.section-item>.checkbox-options-container>.option-item-box {
    display: flex;
    gap: 0rem 0.5rem;
    align-items: stretch;
    font-weight: var(--medium);
    font-size: 1rem;
    cursor: pointer;
  }
  
  .container-flex>.section-checkboxes>.section-item>.checkbox-options-container>.option-item-box>input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .container-flex>.section-checkboxes>.section-item>.checkbox-options-container>.option-item-box>.checkmark {
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--partex-yellow);
    display: inline-block;
  
    box-sizing: border-box;
  }
  
  .container-flex>.section-checkboxes>.section-item>.checkbox-options-container>.option-item-box input+.checkmark {
    background-color: #fff;
    border: 1px solid #dbdbdb;
  }
  
  .container-flex>.section-checkboxes>.section-item>.checkbox-options-container>.option-item-box input:checked+.checkmark {
    background-color: var(--partex-yellow);
    border: unset;
  }
  