#Megamenu {
    width: calc(var(--grid-unit) * 6);
}
#Megamenu *,
#MegamenuContainer * {
    transition: all .25s ease-in;
}
#Megamenu ul.menu {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
    padding: unset;
}

#Megamenu li.menu.item {
    display: block;
}

#Megamenu li.menu.item > a {
    text-decoration: none;
    color: var(--graphite);
}

#Megamenu li.menu.item > a:hover {
    font-weight: var(--bold);
}

#MegamenuContainer {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}
#MegamenuContainer.active {
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.megamenu-panel {
    display: none;
    min-height: fit-content;
    background-color: var(--beige);
    padding: var(--unit) var(--half-grid-unit);
}

.megamenu-panel.active:not(.void) {
    display: flex;
}

.megamenu-subpanel {
    width: 100%;
}