#Megamenu {
    width: calc(var(--grid-unit) * 6);
}
#Megamenu, #MegamenuContainer,
#Megamenu *,
#MegamenuContainer * {
    transition: all .25s ease-in;
}
#Megamenu ul.menu {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
    padding: unset;
}

#Megamenu li.menu.item {
    display: block;
}

#Megamenu li.menu.item > a {
    text-decoration: none;
    color: var(--graphite);
    font-weight: var(--medium);
    font-size: var(--base-size-reg);
}

#Megamenu li.menu.item > a:hover {
    font-weight: var(--bold);
}

#Megamenu .sm-icon > img {
    height: 0.75rem;
}

#MegamenuContainer {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.megamenu-panel {
    display: none;
    min-height: fit-content;
    background-color: var(--beige);
    padding: var(--unit) var(--half-grid-unit);
    box-shadow: var(--shadow);
}

.megamenu-panel.active:not(.void) {
    display: flex;
}

.megamenu-subpanel {
    width: 100%;
    display: flex;
}
div#MegamenuPromoSlider {
    width: calc(var(--grid-unit) * 3);
    height: calc(var(--grid-unit) * 3);
    right: var(--half-grid-unit);
}
@media screen and (max-width: 1280px) {

    #Megamenu li.menu.item > a {
        text-decoration: none;
        color: var(--graphite);
        font-weight: var(--medium);
        font-size: var(--base-size-sm);
    }
}