
.product-details-container {
    flex-basis: 70%;
}

.product-details-container>.product-heading-box {
    display: flex;
    gap: calc(var(--unit) / 2);
    align-items: center;

}

.product-details-container>.product-heading-box>.product-name {
    font-weight: var(--medium);
    font-size: 2.25rem;
}

.product-details-container>.product-heading-box>.product-name {
    font-weight: var(--medium);
    font-size: var(--base-size-lg);
}

.product-details-container>.product-heading-box>.product-postfix {
    font-weight: var(--light);
    font-size: var(--base-size-lg);
}

.product-details-container>.product-heading-box>.product-fav-icon>img {
    width: 1.688rem;
    height: 1.688rem;
}

.product-details-container>.product-main-description-box>.description-text {
    font-weight: var(--light);
    color: black;
}




.product-details-container>.product-purchase-container {
    display: flex;
    gap: 1.2rem;
    margin-top: 2.813rem;
}



.product-details-container>.product-purchase-container>.add-to-cart-box {
    display: flex;
    gap: 0.875rem;
    align-items: center;
    flex-basis: 48%;
    padding-top: 1.2rem;
}

.product-details-container>.product-purchase-container>.add-to-cart-box>.standard-btn {
    transform-origin: 0%;
    margin: unset;
    cursor: pointer;
    width: 100%;
    max-width: unset;
}

.product-details-container>.product-purchase-container>.add-to-cart-box>img {
    width: 2.125rem;
    height: 1.625rem;
}

/* CSS HACK TO REPLACE BUTTON TEXT CONTENT */
.product-details-container .standard-btn .btn-label span::after { content: "Add to Cart"; }