.related-products-section {
    margin-top: 5.5rem;
}

.related-products-section>.section-heading {
    text-align: center;
}

.related-products-section>.section-heading>h3 {
    font-size: 2rem;
    color: var(--graphite);
}

.related-products-section>.related-products-container {
    display: flex;
    justify-content: space-between;
    gap: var(--half-grid-unit);
}