.section-hero {
  height: 28vh;
  overflow: hidden;
  position: relative;
  margin-bottom: var(--half-grid-unit);
}

.section-hero > .bg-section {
  position: absolute;
  inset: 0;
}

.section-hero > .bg-section > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.section-hero > .bg-section > .banner-overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.2;
}

.section-hero > .hero-content-section {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0.5rem 0rem;
  padding: 0rem 6rem;
  width: 40%;
}

.section-hero > .hero-content-section > .hero-banner-heading,
.hero-banner-content {
  margin: 0.25rem 0rem;
}


.section-hero > .hero-content-section > .hero-banner-heading.text-dark,
.hero-banner-content.text-dark {
  color: var(--partex-black);
}

.section-hero > .hero-content-section > .hero-banner-heading.text-light,
.hero-banner-content.text-light {
  color: #fff;
}
