.section-product-showcase {
  flex-basis: 80%;
}

.section-product-showcase>.product-showcase-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.section-product-showcase>.section-product-showcase-inner {
  flex-wrap: wrap;
  display: flex;
  gap: 3rem 2rem;
  justify-content: space-between;
  margin: 3.5rem 0rem;
}

.section-product-showcase>.section-product-showcase-inner>.product-card-box {
  flex-basis: 22%;
}

.section-product-showcase>.section-product-showcase-inner>.product-card-box>.product-main-info-box>img {
  width: 12rem;
  height: 8rem;
}
