.submenu-categories {
    max-width: calc(var(--content-width) - var(--grid-unit));
    margin-left: calc(var(--unit) / 4);
    min-height: 50px;
    list-style: none;
    display: flex;
    width: 100%;

}
.submenu-categories a {
    display: block;
    position: relative;
    width: 199%;
}
.submenu-categories-item {
    width: 100%;
    max-width: calc(var(--half-grid-unit) * 3);
    height: calc(var(--half-grid-unit) * 2);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: var(--unit);
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.submenu-categories-item:not(.active) {
    opacity: 0.6;
}

.submenu-categories-item:not(.active):hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: var(--shadow);
}

.submenu-categories-item .label {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 50%;
    font-weight: var(--bold);
    color: white;
    text-shadow: 0 0 3px black;
    background-color: rgba(0,0,0,0.3);
}
.submenu-products-list {
    width: calc((var(--grid-unit) * 11) - (var(--unit) * 3));
    margin-left: var(--half-grid-unit);
    height: calc(var(--grid-unit) * 2.5);
    border: 1px solid var(
    --light-gray);
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
.submenu-products-list > .submenu-categories {
    max-width: calc(var(--content-width) - var(--grid-unit));
    margin-left: calc(var(--unit) / 4);
    min-height: 50px;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.list-item-container {
    display: flex;
    height: var(--half-grid-unit);
    margin-top: calc(var(--unit) / 4);
    margin-bottom: calc(var(--unit) / 4);
    padding: calc(var(--unit) / 4);
    border-bottom: 1px solid transparent;
}
.list-item-container:hover {
    border-bottom: 1px solid var(--light-gray);
    transform: scale(1.03);
    transform-origin: 0% 50%;
}
.submenu-category-listing-item a {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: calc(var(--grid-unit));
    transition: none !important;
}
.submenu-category-listing-item a:hover {
    border-bottom: unset;
}
.submenu-category-listing-item .submenu-listing-image {
    width: 100%;
    min-width: calc(var(--grid-unit));
    height: calc(var(--half-grid-unit));
    background-size: contain;
    margin-right: var(--unit);
    background-repeat: no-repeat;
    background-position: center center;
}
.submenu-category-listing-item .label {
    width: 100%;
    text-align: left;
    height: calc(var(--half-grid-unit));
    min-width: calc(var(--grid-unit) * 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: var(--medium);
}