/* Slideshow container */
.slideshow-container {
    /* max-width: 80vw; */
    position: relative;
    margin: 0rem auto 2.5rem auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    /* transition: 0.6s ease; */
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    /* background-color: rgba(0, 0, 0, 0.8); */
    border: 1px solid #252525;
}


.slide-content-container {
    position: relative;
    position: absolute;
    bottom: 35%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.slide-content-container>.content-box>.slide-main-text {
    font-weight: var(--medium);
    font-size: 1.875rem;
    color: var(--partex-black);
    margin: unset;
    margin-bottom: 0.5rem;
}

.slide-content-container>.content-box>.slide-sub-text {
    font-weight: var(--light);
    font-size: 1.25rem;
    color: var(--partex-black);
    margin: unset;
}

.slide-content-container>.cta-btn-box>.standard-btn {
    justify-content: center;
    cursor: pointer;
}

.slide-content-container>.cta-btn-box>.standard-btn>.sm-brand-box {
    left: -43%;
}

.slide-content-container>.cta-btn-box>.standard-btn>.btn-label {
    font-size: 1.25rem;
}

.slide-content-container>.content-box>.text-light {
    color: #fff;
}



/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    border: inset;
    border: 3px solid;
    display: inline-block;
    transition: background-color 0.6s ease;
    color: var(--light-gray);
}

.active,
.dot:hover {
    background-color: var(--light-gray);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}



.prev {
    left: -3.875rem;
    width: 1.2rem;
    height: auto;
}

.next {
    right: -3.875rem;
    width: 1.2rem;
    height: auto;
}

.prev>img,
.next>img {
    width: 100%;
    height: auto;
}