<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cable Wire Landing page</title>



    <link rel="stylesheet" href="../css/breadcrumb.css" type="text/css">
    <link rel="stylesheet" href="../css/hero-banner.css" type="text/css">
    <link rel="stylesheet" href="../css/product-card.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <link rel="stylesheet" href="../css/megamenu.css" type="text/css">
    <link rel="stylesheet" href="../css/search.css" type="text/css">
    <link rel="stylesheet" href="../css/customer-portal.css" type="text/css">
    <link rel="stylesheet" href="../css/iconsmenu.css" type="text/css">
    <link rel="stylesheet" href="../css/cable-wire-landingpage.css" type="text/css">
    <link rel="stylesheet" href="../css/product-card.css" type="text/css">
    <link rel="stylesheet" href="../css/pagination.css" type="text/css">


</head>

<body>

    <main id="Main" class="container devmode loaded">

        <content>


            <header>
                <div class="logo"></div>
                <div id="Megamenu">
                    <ul class="menu">
                        <li onmouseenter="rollOver('MainmenuButton_0', 'MegamenuPanel_0')"
                            onmouseleave="rollOut('MainmenuButton_0', 'MegamenuPanel_0')" id="MainmenuButton_0"
                            class="menu item markers-submenu"><a href="#">Markers</a></li>
                        <li onmouseenter="rollOver('MainmenuButton_1', 'MegamenuPanel_1')"
                            onmouseleave="rollOut('MainmenuButton_1', 'MegamenuPanel_1')" id="MainmenuButton_1"
                            class="menu item accessories-submenu"><a href="#">Accessories</a></li>
                        <li onmouseenter="rollOver('MainmenuButton_2', 'MegamenuPanel_2')"
                            onmouseleave="rollOut('MainmenuButton_2', 'MegamenuPanel_2')" id="MainmenuButton_2"
                            class="menu item solutions-submenu"><a href="#">Solutions</a></li>
                        <li onmouseenter="rollOver('MainmenuButton_3', 'MegamenuPanel_3')"
                            onmouseleave="rollOut('MainmenuButton_3', 'MegamenuPanel_3')" id="MainmenuButton_3"
                            class="menu item"><a href="#">Shop All</a></li>
                        <li onmouseenter="rollOver('MainmenuButton_4', 'MegamenuPanel_4')"
                            onmouseleave="rollOut('MainmenuButton_4', 'MegamenuPanel_4')" id="MainmenuButton_4"
                            class="menu item"><a href="#">Mark Online <span class="sm-icon"><img
                                        src="../images/open-in-new-window-icon.png"></span></a></li>
                        <li onmouseenter="rollOver('MainmenuButton_5', 'MegamenuPanel_5')"
                            onmouseleave="rollOut('MainmenuButton_5', 'MegamenuPanel_5')" id="MainmenuButton_5"
                            class="menu item about-us-submenu"><a href="#">About Us</a></li>
                    </ul>
                </div>
                <!-- MEGAMENU CODE -->
                <div id="MegamenuContainer" class="container">
                    <!-- Dynamically insert menu elements here -->
                </div>
                <div id="Search">
                    <!-- Search Component -->
                </div>
                <div>
                    <div id="IconsMenu">
                        <!-- Icons Component -->
                        <div class="icon-group">
                            <div class="profile icon"><img src='../images/profile-icon.png' /></div>
                            <div class="globe icon"><img src='../images/globe-icon.png' /></div>
                            <div class="star icon"><img src='../images/star-icon.png' /></div>
                            <div class="cart icon"><img src='../images/cart-icon.png' /></div>
                        </div>
                        <div class="sm-brand-box"></div>
                    </div>
                </div>
            </header>

            <!-- herobanner... -->

            <div class="section-hero">
                <div class="bg-section">
                    <img src="../images//backgrounds/cable-wire-page-bg.png" alt="Background Image"
                        class="object-cover object-center w-full h-full" />

                    <div class="banner-overlay"></div>
                </div>

                <div class="hero-content-section">
                    <h1 class="hero-banner-heading text-dark">All cable & wire markers</h1>
                    <p class="hero-banner-content text-dark">Shop by category & application
                    </p>
                </div>
            </div>

            <!-- app-breadcrumb... -->
            <div class="app-breadcrumb-container">
                <div class="breadcrumb">
                    <span class="breadcrumb-item"><img class="breadcrumb-icon" src="../images/home-icon.png" /></span>
                    <span class="breadcrumb-item"><small class="active">Makers</small></span>
                </div>
            </div>

            <div class="container-flex">
                <div class="section-checkboxes">
                    <div class="section-item">
                        <p class="section-label">Categories</p>

                        <div class="checkbox-options-container">
                            <label class="option-item-box">
                                <input type="checkbox" checked>
                                <span class="checkmark"></span>
                                Wire Markers
                            </label>


                            <label class="option-item-box">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Clip-On Markers
                            </label>

                            <label class="option-item-box">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Plates
                            </label>
                        </div>
                    </div>

                    <div class="section-item">
                        <p class="section-label">Applications</p>

                        <div class="checkbox-options-container">
                            <label class="option-item-box">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                Power Generation
                            </label>


                            <label class="option-item-box">
                                <input type="checkbox" checked>
                                <span class="checkmark"></span>
                                Electrical Transmission
                            </label>

                            <label class="option-item-box">
                                <input type="checkbox" checked>
                                <span class="checkmark"></span>
                                IT & Telecommunication
                            </label>
                        </div>
                    </div>

                    <div class="section-item">
                        <p class="section-label">Printer Compatibility</p>

                        <div class="checkbox-options-container">
                            <label class="option-item-box">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                T-2000
                            </label>


                            <label class="option-item-box">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                MK-10
                            </label>
                        </div>
                    </div>
                </div>


                <div class="section-product-showcase">

                    <div class="product-showcase-filter-container">
                        <div class="pagination-container">
                            <p>Page</p>
                            <div class="pagination-btns-container">
                                <span class="pagination-item">1</span>
                                <span class="pagination-item active">2</span>
                                <span class="pagination-item">3</span>
                                <span class="pagination-item">4</span>
                                <span class="pagination-item">5</span>
                                <span class="pagination-dots"> ... </span>
                                <span class="pagination-more"> More > </span>
                            </div>
                        </div>

                        <div class="filters-box">
                            <span class="filter-item-box">
                                <small class="filter-label">View on page</small>
                                <select name="" id="">
                                    <option value="">10</option>
                                    <option value="">20</option>
                                    <option value="">30</option>
                                    <option value="">40</option>
                                    <option value="">50</option>
                                </select>
                            </span>
                            <span class="filter-item-box">
                                <small class="filter-label">Filter By</small>
                                <select name="" id="">
                                    <option value="">Most Popular</option>
                                    <option value="">Most Purchased</option>
                                    <option value="">New</option>
                                </select>
                            </span>
                        </div>
                    </div>

                    <div class="section-product-showcase-inner">
                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>
                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>

                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>
                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>
                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>
                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>

                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>

                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>

                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>

                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>

                        <div class="product-card-box">
                            <div class="product-main-info-box">
                                <img src="../images/product-images/partex-marker-1.png" alt="">
                                <div class="product-title-box">
                                    <span class="product-title">Product Name</span>
                                    <span class="product-fav-icon-box"><img src="../images/star-icon.png" alt=""></span>
                                </div>
                            </div>

                            <div class="view-product-box"><span>View Product</span></div>
                        </div>
                    </div>

                    <div class="pagination-container">
                        <div class="pagination-container">
                            <p>Page</p>
                            <div class="pagination-btns-container">
                                <span class="pagination-item">1</span>
                                <span class="pagination-item active">2</span>
                                <span class="pagination-item">3</span>
                                <span class="pagination-item">4</span>
                                <span class="pagination-item">5</span>
                                <span class="pagination-dots"> ... </span>
                                <span class="pagination-more"> More > </span>
                            </div>
                        </div>


                        <span class="navigate-top-text">Back to Top</span>
                    </div>
                </div>
            </div>
        </content>

        <footer>
            <div class="footer-content">
                <div class="logo"></div>
                <p>© 2024 My Website</p>
            </div>
            <div class="brand-box">We mark the future</div>
        </footer>
    </main>

    <script src="../js/cable-wire-landing.js" type="text/javascript"></script>

</body>

</html>